<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" 
    xmlns="https://jakarta.ee/xml/ns/jakartaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
    https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">

    <servlet>

        <init-param>
        <!-- mifandray an le fonction init (...) an am controller -->
            <param-name>package_controllers</param-name> <!---->
            <param-value>mg.itu.Controllers</param-value> <!--nom package -->
        </init-param>
        <!-- Declaration -->
        <servlet-name>Front_controller</servlet-name>
        <servlet-class>mg.itu.servlets.Front_controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <!-- mapping an le servlet -->
        <servlet-name>Front_controller</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>